---
import Layout from "../layouts/Layout.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon";

const pageTitle = "About me";

const skills = [
  {
    name: "Web",
    linkUrl: "mdi:web-box"
  },
  {
    name: "Developing",
    linkUrl: "simple-icons:astro"
  },
  {
    name: "Web Design",
    linkUrl: "ic:baseline-design-services"
  },
  {
    name: "Figma",
    linkUrl: "ph:figma-logo-bold"
  },
  {
    name: "Responsive design",
    linkUrl: "mdi:responsive"
  },
  {
    name: "Vector design",
    linkUrl: "tabler:vector"
  }
];

const companies = [
  {
    companySrc:
      "https://ik.imagekit.io/milanz/milanzivanov_com/vegaLogo_4whdIwNwV.gif?updatedAt=1638480904610",
    altText: "Logo of the company vega it sourcing"
  },
  {
    companySrc:
      "https://ik.imagekit.io/milanz/milanzivanov_com/htec-logo_tZqCZq2M8.png?updatedAt=1641384068829",
    altText: "Logo of the company htec"
  },
  {
    companySrc:
      "https://ik.imagekit.io/milanz/milanzivanov_com/oma-adriatic_WCqN77dzImJ.png?updatedAt=1641384549148",
    altText: "Logo of the company oma adriatic"
  }
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead pageTitle={pageTitle} />
  </head>
  <body>
    <Layout>
      <section class="about">
        <div class="wrapper">
          <div class="about-container">
            <div class="about-container__box">
              <div class="about-container-text">
                <h2 class="h2-title h2-title--about">About Me</h2>
                <p class="text-default text-default--ptb border-bottom">
                  Hello, my name is <strong>Milan</strong> and I'm passionate about
                  bringing both the technical and visual aspects of digital products
                  to life. User experience and writing clean accessible human code
                  matters to me. Less is more I agree with that. I graduated in Higher
                  Education Technical School of Professional Studies of Novi Sad(Serbia).
                </p>

                <p class="text-default text-default--ptb">
                  I'm happiest when I'm coding, learning, exploring and thinking
                  about how to make things better. Available for any freelance
                  work, and feel free to reach out and say hello! I promise I
                  don't bite. I am particularly interested in Frontend. React is
                  my next destination.
                </p>
              </div>
            </div>
            <div class="about-container__box about-container__bg"></div>
          </div>
        </div>
      </section>

      <section class="about-container">
        <div class="wrapper">
          <!-- what I do -->
          <div class="about-container__content">
            <div class="about__box about__box--mb">
              <div class="what-i-do-container">
                <h2 class="h2-title h2-title--experience">What I do</h2>
                <ul class="skill-box">
                  {
                    skills.map((skill) => (
                      <li class="skill-box__item">
                        <Icon
                          class="svg-skill-icon"
                          name={skill.linkUrl}
                          alt="some test text"
                        />
                        <span>{skill.name}</span>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </div>

            <!-- where I worked -->
            <div class="about__box about__box--mb">
              <div class="companies-container">
                <h2 class="h2-title h2-title--experience h2-title--mb">
                  Companies
                </h2>

                <div class="companies-box">
                  {
                    companies.map((company) => (
                      <div class="company-box__item">
                        <img
                          src={company.companySrc}
                          alt={company.altText}
                          class="svg-brand-icon"
                        />
                      </div>
                    ))
                  }
                </div>
              </div>
            </div>

            <!-- contact me -->
            <div class="about__box">
              <div class="contact">
                <h2 class="h2-title h2-title--contact">Get in touch with me</h2>
                <div class="contact-container">
                  <div class="contact-container__item"></div>
                  <div class="contact-container__item">
                    <form
                      id="contactForm"
                      name="_replyto"
                      class="contact-container__form"
                      action="https://formspree.io/f/moqrvozd"
                      method="POST"
                    >
                      <label for="email-form" class="form__label"> Email</label>
                      <input
                        class="form__input"
                        type="email"
                        name="_replyto"
                        placeholder="Your email *"
                        id="email-form"
                        required
                      />

                      <label for="message-form" class="form__label">
                        Message</label
                      >
                      <textarea
                        class="form__textarea"
                        cols="30"
                        rows="10"
                        name="message"
                        id="message-form"
                        required
                      >
                      </textarea>

                      <button class="form__btn" type="submit">send</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <Footer />
    </Layout>
    <style>
      .about {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
      }

      @media screen and (min-width: 1024px) {
        .about {
          height: calc(100vh - 78px);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .about-container {
        position: relative;
        display: flex;
        width: 100%;
      }

      .about-container__box {
        background-color: #fff;
        flex: 1;
        padding: 1rem;
        box-shadow: 0 2px 10px rgba(45, 45, 45, 0.1);
      }

      @media screen and (min-width: 1024px) {
        .about-container__box {
          border-radius: var(--border-radius-20);
        }
      }

      .about-container__bg {
        position: absolute;
        inset: 0 0 0 50%;
        box-shadow: none;
        right: 0;
        background-image: url(/Milan_left.webp);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: contain;
        display: none;
      }

      @media screen and (min-width: 1024px) {
        .about-container__bg {
          display: block;
        }
      }

      .about-container-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        position: relative;
        z-index: 5;
      }

      @media screen and (min-width: 768px) {
        .about-container-text {
          align-items: start;
        }
      }

      @media screen and (min-width: 1024px) {
        .about-container-text {
          width: 50%;
        }
      }

      .about-container__content {
        display: flex;
        flex-flow: column nowrap;
        padding: 0 0 3rem 0;
        gap: 1rem;
      }

      @media screen and (min-width: 768px) {
        .about-container__content {
          flex-flow: row wrap;
        }
      }

      .about__box {
        flex: 1;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(45, 45, 45, 0.1);
      }

      .about__box--mb {
        margin-bottom: 0;
      }

      @media screen and (min-width: 1024px) {
        .about__box--mb {
          margin-bottom: 10rem;
        }
      }

      @media screen and (min-width: 768px) {
        .about__box {
          border-radius: var(--border-radius-20);
          flex: 1 1 48%;
        }
      }

      @media screen and (min-width: 1024px) {
        .about__box {
          flex: 1 1 33.333%;
        }
      }

      .about__box--no-bg {
        background-color: transparent;
        box-shadow: 0 0 0 0;
      }

      .what-i-do {
        height: 100vh;

        text-align: center;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .what-i-do-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }

      .companies-container {
        position: relative;
      }

      .companies-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        flex-direction: column;
        padding-bottom: 3rem;
      }

      @media screen and (min-width: 1024px) {
        .companies-box {
          justify-content: flex-start;
          flex-direction: row;
          padding-bottom: 0;
        }
      }

      .company-box__item {
        min-width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
      }

      /* contact */
      .contact {
        display: flex;
        justify-content: center;

        flex-direction: column;
      }

      .contact-container {
        display: flex;
        width: 100%;
        text-align: left;
        background-color: #fff;
        border-radius: 20px;
      }

      @media screen and (min-width: 1360px) {
        .contact-container {
          width: 100%;
        }
      }

      .contact-container__item {
        flex: 1;
        display: flex;
        width: 100%;
        align-items: center;
      }

      .contact-container__item:first-child {
        display: none;
      }

      @media screen and (min-width: 1024px) {
        .contact-container__item:first-child {
          display: flex;
          background: url("/Milan_right.webp") no-repeat bottom left;
          background-size: contain;
        }
      }

      .contact-container__form {
        width: 100%;
        padding: 1rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--background-color);
      }

      @media screen and (min-width: 768px) {
        .contact-container__form {
          border-radius: var(--border-radius-20);
          margin: 1rem;
        }
      }

      label.form__label {
        color: var(--primary-heading-color);
        padding-bottom: 1rem;
      }

      .form__input {
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        border: 0;
      }

      .form__textarea {
        margin-bottom: 1rem;
        border-radius: var(--border-radius-10);
        border: 0;
      }

      .form__btn {
        border: 0;
        width: 100%;
        padding: 1rem;
        background-color: var(--primary-heading-color);
        display: inline-block;
        color: #fff;
        border-radius: var(--border-radius-10);
        margin-left: auto;
        cursor: pointer;
        text-transform: capitalize;
      }

      @media screen and (min-width: 1024px) {
        .form__btn {
          width: 30%;
        }
      }

      @media screen and (min-width: 1024px) {
        .contact-container--link {
          width: auto;
          font-size: 0.5rem;
        }
      }

      .skill-box {
        display: flex;
        flex-wrap: wrap;
        color: #333;
        text-align: center;
        padding: 2rem 1rem;
        margin: 0;
        font-size: 0.8rem;
      }
      .skill-box__item {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0.5rem 2rem 0;
      }

      @media screen and (min-width: 1024px) {
        .skill-box__item {
          flex: 1;
          justify-content: center;
        }
      }

      .text-default {
        width: 100%;
        text-align: center;
      }

      @media screen and (min-width: 1024px) {
        .text-default {
          text-align: left;
        }
      }

      .border-bottom {
        border-bottom: 1px solid #ddd;
      }

      .h2-title {
        text-align: center;
        width: 100%;
        position: relative;
        text-transform: lowercase;
        padding: 2rem 0 1rem 0;
        color: var(--primary-heading-color);
      }
      @media screen and (min-width: 1024px) {
        .h2-title {
          padding: 2rem 0 1rem 1rem;
        }
      }

      .h2-title::first-letter {
        text-transform: uppercase;
      }

      .h2-title--about {
        text-align: center;
        padding: 2rem 0 1rem 0;
      }

      @media screen and (min-width: 1024px) {
        .h2-title--about {
          text-align: left;
        }
      }

      .h2-title--about::before {
        position: absolute;
        content: "";
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
        width: 50%;
        height: 3px;
        background-color: var(--primary-heading-color);
        border-radius: var(--border-radius-5);
      }

      @media screen and (min-width: 1024px) {
        .h2-title--about::before {
          left: 0;
          width: 50%;
          transform: none;
        }
      }

      .h2-title--contact {
        position: relative;
        padding: 2rem 0 2rem 0;
      }
      .h2-title--contact::before {
        display: none;
        position: absolute;
        content: "";
        bottom: 0;
        width: 30%;
        height: 3px;
        background-color: var(--primary-heading-color);
        border-radius: var(--border-radius-5);
      }

      @media screen and (min-width: 1024px) {
        .h2-title--contact {
          padding: 2rem 0 1rem 2rem;
          text-align: left;
        }

        .h2-title--contact::before {
          display: block;
        }
      }

      .h2-title--experience {
        position: relative;
      }

      @media screen and (min-width: 1024px) {
        .h2-title--experience {
          text-align: left;
        }
      }

      .h2-title--experience::before {
        position: absolute;
        content: "";
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
        width: 50%;
        height: 3px;
        background-color: var(--primary-heading-color);
        border-radius: var(--border-radius-5);
      }

      @media screen and (min-width: 1024px) {
        .h2-title--experience::before {
          left: 1rem;
          width: 50%;
          transform: none;
        }
      }

      .h2-title--mb {
        margin-bottom: 2rem;
      }

      .svg-skill-icon {
        height: 60px;
        width: 60px;
        color: var(--primary-heading-color);
      }

      .svg-brand-icon {
        width: 100px;
        height: 100px;
      }

      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }

        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 0% 50%;
        }
      }
    </style>
  </body>
</html>
