---
import Layout from "../layouts/Layout.astro";
import BaseHead from "../components/BaseHead.astro";
import BlogWork from "../components/BlogWork.astro";
import Footer from "../components/Footer.astro";
const allWorks = await Astro.glob("../pages/works/*.md");

const pageTitle = "Portfolio";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead pageTitle={pageTitle} />
  </head>
  <body>
    <Layout>
      <div class="work-section">
        <div class="wrapper">
          <h2 class="h2-title h2-title--portfolio">Some of my projects</h2>

          <div class="portfolio">
            {
              allWorks.map((work) => (
                <BlogWork
                  url={work.url}
                  title={work.frontmatter.title}
                  imageSrc={work.frontmatter.image.url}
                  alt={work.frontmatter.image.alt}
                  description={work.frontmatter.description}
                />
              ))
            }
          </div>
        </div>
      </div>
      <Footer />
    </Layout>
    <style>
      .h2-title {
        font-size: 1.3rem;
        padding: 5rem 1rem 1rem 1rem;
        color: var(--primary-heading-color);

        @media screen and (min-width: 1024px) {
          font-size: 1.7rem;
        }
      }

      p {
        font-size: 0.8rem;
      }
    </style>
  </body>
</html>
